@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100%;
}

.sideMenuText{
  color: white;
  margin-top: 15px;
  margin-left: 15px;
}

.iconText{
  margin-top: 20px;
}
